# Maven / Gradle
/target/
/build/

# Eclipse
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA
*.iml
/.idea/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Spring Boot
spring-boot-devtools.properties

# Others
*.tmp